{% extends 'base.html' %}
{% block content %}
<a href="{% url 'new_emp' %}" class="btn btn-primary">Add new</a>
<div class="container">
<table class="table table-bordered" style="margin-top:20px;">
    <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
    <th>Occupation</th>
    <th>Salary</th>
    <th>Gender</th>
    <th>Actions</th>
    </tr>
    {% for results in data %}
    <tr>
        <td>{{results.id}}</td>
        <td>{{results.name}}</td>
        <td>{{results.email}}</td>
        <td>{{results.occupation}}</td>
        <td>{{results.salary}}</td>
        <td>{{results.gender}}</td>
        <td>
            <a href="edit/{{results.id}}" class="btn btn-primary">Update</a>
            <a href="delete/{{results.id}}" onclick="return confirm('Are you sure to delete?')" class="btn btn-danger">Delete</a>
        </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
